In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'nombre': ['luis','ale','eee'],
    'datos' : [1,2,3]
    }
)

In [3]:
df

  nombre  datos
0   luis      1
1    ale      2
2    eee      3

In [8]:
pip install pymysql

Collecting pymysql
  Using cached PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
from sqlalchemy import create_engine

In [12]:


# Datos tomados de la captura de HeidiSQL
USUARIO   = "root"          # ðŸ‘‰ Campo Â«UsuarioÂ»
PASSWORD  = 'root'                # ðŸ‘‰ La que usas en HeidiSQL
HOST      = "127.0.0.1"            # ðŸ‘‰ Campo Â«Nombre del host / IPÂ»
PUERTO    = 3308                  # ðŸ‘‰ Campo Â«PuertoÂ»
DATABASE  = "sakila"               # ðŸ‘‰ Base de datos a la que quieres entrar

In [11]:
# URL de conexiÃ³n compatible con PyMySQL
connection_url = (
    f"mysql+pymysql://{USUARIO}:{PASSWORD}@{HOST}:{PUERTO}/{DATABASE}"
)

engine = create_engine(connection_url, echo=False)
conn   = engine.connect()

def run(query: str) -> pd.DataFrame:
    """Ejecuta la consulta y devuelve un DataFrame."""
    return pd.read_sql(query, conn)

print("âœ… ConexiÃ³n establecida")

âœ… ConexiÃ³n establecida